@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(120deg, #DCA88A, #F2C2C5, #CF9BC5, #AE80C7 80%) fixed;
    font-family: 'Bitter', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 1.5rem;
}

form {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

form input, form button {
    padding: 0.5rem;
    border: none;
    background: white;
    margin: 0.5rem 0.2rem;
    font-size: 1.2rem;
    text-align: center;
}

#submit-btn {
    background: white;
    color: black;
    font-size: 1.5rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
    /* border: 0.5px solid #AE80C7 ; */
    /* transition: all 0.5s ease; */
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 40%;
}

.todo-list {
    list-style: none;
}

.todo-div {
    margin: 0.5rem;
    background-color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

.done-btn, .delete-btn, .star-btn {
    padding: 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.list-item {
    flex: 1;
}

.done {
    text-decoration: line-through;
}

.delete {
    display: none;
}

.fa-check, .fa-trash, .fa-star {
    pointer-events: none;
}

#filter-todos {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: none;
    text-align: center;
}

.selected {
    color: gold;
}