@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(45deg, red, blue) fixed;;
    font-family: 'Bitter', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    font-size: 1.5rem;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button {
    padding: 1rem;
    border: none;
    background: white;
    margin: 0.5rem;
    font-size: 1.2rem;
}

#submit-btn {
    background: transparent;
    color: black;
    font-size: 2rem;
    padding: 0.55rem 1rem;
    cursor: pointer;
    /* transition: all 0.5s ease; */
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    list-style: none;
    min-width: 40%;
}

.todo-div {
    margin: 0.5rem;
    background-color: white;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.done-btn, .delete-btn {
    padding: 0.5rem;
    margin: 0 0.5rem;
    cursor: pointer;

}

.list-item {
    flex: 1;
}

.done {
    text-decoration: line-through;
}

.delete {
    display: none;
}

.fa-check, .fa-trash {
    pointer-events: none;
}